:root {
  --bs-brown: #6F4E37;
}

.text-brown {
  color: var(--bs-brown);
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Fundo geral da seção */
.section-bg {
  background-color: #FFF8F3;
}

/* Cor de fundo dos cards */
.bg-coffee-light {
  background-color: #FCEBDF;
}

/* Cor do texto principal e dos cards */
.text-coffee {
  color: #5C2B1F;
}

.about .card-img-top {
  height: 250px;
  object-fit: cover;
}

.about .lead {
  margin-bottom: 1rem;
}

.coffee-card {
  background-color: #f7e3d6;
  border: 3px solid #5C2B1F;
  border-radius: 1rem;
  padding: 2rem;
  color: #5C2B1F;
}

#Banner {
  margin-top: -5rem;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.borda-marrom {
  border-color: #532f20 !important;
}

/* Aplica borda ao botão menu hambúrguer */
.navbar-toggler {
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler:hover {
  border: 2px solid #3c1e0b;
  box-shadow: 0 0 6px rgba(60, 30, 11, 0.4);
}

/* Animação dos itens no menu */
.menu-item {
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px);
}

/*ajuste para o título do cardápio */
.ajuste-espaco {
  padding-top: 40px;
  padding-bottom: 60px;
}

/*ajuste para o footer */
#equipe {
  padding-bottom: 120px;
}

/*botão de finalizar pedido*/
.btn-custom {
  background-color: #532f20;
  color: #f7e3d6;
  border: none;
}

.btn-custom:hover {
  background-color: #6F4E37;
  color: #f7e3d6;
}

.collapsing {
  transition: none !important;
  height: auto !important;
}

.navbar-collapse {
  transition: none !important;
}

.custom-paragraph-width {
  width: 80%; /* Ajuste a largura desejada */
  max-width: 1000px; /* Limita a largura máxima do parágrafo */
  margin-left: auto; /* Centraliza horizontalmente */
  margin-right: auto; /* Centraliza horizontalmente */
}


/* ===== MOBILE ===== */
@media (max-width: 768px) {
  header {
    text-align: center;
  }

  header .d-flex {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    margin-top: 1rem;
  }

}
